<div class="goals">
	<p>Goal 1: Exceed customer expectations by providing quality facilities, programs and services that enhance student learning.</p><br /> 
	<p>Goal 2: Advance student success through collaborative partnerships.</p><br />  
	<p>Goal 3: Reduce high risk behaviors by educating students on healthy lifestyle choices.</p><br />  
	<p>Goal 4: Advance leadership and life skills by providing integrative learning experiences.</p><br />  
	<p>Goal 5: Promote an inclusive environment and foster an appreciation for and understanding of diversity.</p><br />   
	<p>Goal 6: Enhance the overall student experience by celebrating individual and community accomplishments and contributing to the traditions and history of the University.</p><br />   
</div>
  
<a href="#" class="lbAction" rel="deactivate">Close</a>
